* { margin:0; padding:0;
     box-sizing:border-box; }

header {
  display:flex;
  justify-content:space-between;
  align-items:center;
  background:#fff;
  height:80px;
  border-bottom:1px solid #b6b1b1;
  padding:0 2%;
}
.myntra_home { height:45px; }
.logo_container { margin-left:2%; }
.nav_bar { display:flex; min-width:500px; justify-content:space-evenly; }
.nav_bar a {
  font-size:14px; letter-spacing:0.3px; color:#282c3f;
  font-weight:700; text-transform:uppercase; text-decoration:none;
  padding:30px 0; border-bottom:2px solid #fff;
}
.nav_bar a:hover { border-bottom:2px solid #f54e77; }
.nav_bar a sup { color:#ff3f6c; font-size:10px; }

/* small day badge */
#day-progress{
  background:#fff3f6; color:#ff3e6c; padding:10px; font-weight:700;
  text-align:center; border-bottom:1px solid #ffd6e6; font-family:system-ui;
}
/* search */
.search_bar {
  height:40px; min-width:200px; width:30%; display:flex; align-items:center;
}
.search_icon {
  box-sizing:content-box; height:20px; padding:10px;
  background:#f5f5f6; color:#282c3f; border-radius:4px 0 0 4px;
}
.search_input {
  color:#696e79; background:#f5f5f6; flex-grow:1; height:40px;
  border-radius:0 4px 4px 0; border:0; padding:0 10px;
}

/* actions */
.action_bar { display:flex; min-width:200px; justify-content:space-evenly; margin-right:2%; }
.action_container { display:flex; flex-direction:column; align-items:center; font-size:12px; color:#3b3f4d; }
.action_icon { font-size:20px; }
.action_name { margin-top:4px; font-weight:600; }

