* { margin:0; padding:0;
     box-sizing:border-box; }

header {
  display:flex;
  justify-content:space-between;
  align-items:center;
  background:#fff;
  height:80px;
  border-bottom:1px solid #b6b1b1;
  padding:0 2%;
}
.myntra_home { height:45px; }
.logo_container { margin-left:2%; }
.nav_bar { display:flex; min-width:500px; justify-content:space-evenly; }
.nav_bar a {
  font-size:14px; letter-spacing:0.3px; color:#282c3f;
  font-weight:700; text-transform:uppercase; text-decoration:none;
  padding:30px 0; border-bottom:2px solid #fff;
}
.nav_bar a:hover { border-bottom:2px solid #f54e77; }
.nav_bar a sup { color:#ff3f6c; font-size:10px; }

/* small day badge */
#day-progress{
  background:#fff3f6; color:#ff3e6c; padding:10px; font-weight:700;
  text-align:center; border-bottom:1px solid #ffd6e6; font-family:system-ui;
}
